/* Grid layout for features */
.features {
    /* display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;*/
    height: 200px;
    border: solid 1px;
    align-content: space-between;
    display: flex;
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.feature {
    width: 100px;
    flex-grow: 1;
    margin: 20px;
}

/* Keyframes animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn-primary:hover {
    animation: pulse 1s infinite;
}

/* Additional card layout */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border: solid 1px;
}

button:hover {
    background-color: #444444;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}
