@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 130, 32, 246;
  --background-start-rgb: 229, 89, 68;
  --background-end-rgb: 130, 32, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 130, 32, 246;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header {
  background-color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
