@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 130, 32, 246;
  --background-start-rgb: 229, 89, 68;
  --background-end-rgb: 130, 32, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 130, 32, 246;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #222222;
  background: #dddddd;
    height: 100%;
}

h1 {
  font-size: 1.5em;
}

.mainContent {
  padding: 20px;
  color: #444444;
}

.header {
  background-color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
