@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


:root {
  --foreground-rgb: 130, 32, 246;
  --background-start-rgb: 229, 89, 68;
  --background-end-rgb: 130, 32, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 130, 32, 246;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #394E5A;
  background: #F5F5F5;
  height: 100%;
}

p {
  font-size: .87em;
  margin-top: 20px;
}

.freeman {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
}

.mainContent {
  padding: 20px;
  color: #394E5A;
}

.header {
  background-color: #ffffff;
  height: 50px;
  font-size: 1.25em;
  color: #1f605f;
  font-family: "Freeman";
}

h1 {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
  color: #1f605f;
}



/*
Primary (Teal): #32BEBB
Secondary (Soft Blue): #559CAD
Background (Light Grey): #F5F5F5
Text (Dark Slate Grey): #394E5A
Neutral (Pale Cyan): #E0F4F7
Highlight (Warm Yellow): #FFC857
*/


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
